.contacts-phone a::before {
  content: '';
  width: 18px;
  height: 19px;
  margin-right: 15px;
  background-image: url('/img/icon-phone.svg');
  background-repeat: no-repeat;
  background-position: center;
}
