.contacts__wrapper {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  max-width: 582px;
  margin: 0 auto;

  @media (max-width: $mobile-width-only) {
    flex-direction: column;
    max-width: 280px;
    align-items: flex-start;
  }
}

.contacts-phone a,
.contacts-mail a {
  color: rgba($ordinary-black, 0.5);
  font-size: 16px;
  line-height: 24px;
  padding: 17px 10px;
  display: flex;
  align-items: center;

  &:hover {
    color: rgba($accent-color, 0.5);
  }

  &:focus {
    color: rgba($accent-color-darker, 0.5);
  }

  @media(max-width: $tablet-width-max) {
    padding: 19px 10px;
  }

  @media(max-width: $mobile-width-only) {
    padding: 0;
  }
}

.contacts-mail a {
  @media(max-width: $mobile-width-only) {
    padding: 19px 10px 10px 10px;
  }
}

.contacts-phone a {
  @media (max-width: $mobile-width-only) {
    padding: 12px 10px 10px 44px;
  }
}
