.contacts__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 558px;
  margin: 0 auto;

  @media (max-width: $mobile-width-only) {
    flex-direction: column;
  }
}

.contacts-phone a,
.contacts-mail a {
  color: rgba($ordinary-black, 0.5);
  font-size: 16px;
  line-height: 24px;
  padding: 20px 10px;
  display: flex;
  align-items: center;

  &:hover {
    color: rgba($accent-color, 0.5);
  }

  &:focus {
    color: rgba($accent-color-darker, 0.5);
  }
}
