.form-field input {
  display: flex;
  width: 100%;
  font-size: 15px;
  line-height: 24px;
  color: $input-text-black;
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid $input-grey;
  background-color: $ordinary-white;
  padding: 14px 20px 10px 29px;
  margin: 0 0 18px 0;

  @media (min-width: $desktop-width-min) {
    &:hover {
      border: 1px solid $input-grey-darker;
      background-color: rgba($ordinary-white, 0.7);
    }

    &:invalid:not(:placeholder-shown) {
      outline: 1px solid $border-input-error;
    }

    &:focus {
      outline: 0;
      background-color: rgba($ordinary-white, 0.7);
      border: 1px solid $input-grey-darker;
      color: $ordinary-white;
    }
  }

  @media (max-width: $tablet-width-max) {
    padding: 14px 20px 10px 21px;

    &:focus {
      outline: 0;
      background-color: rgba($ordinary-white, 0.7);
      border: 1px solid $input-grey-darker;
      color: $ordinary-black;
    }
  }

  @media (max-width: $mobile-width-only) {
    width: 100%;
    padding: 14px 20px 10px 26px;
  }
}
