.gallery {
  background-color: $background-white;
}

.gallery__wrapper h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 600;
  margin: 0;
}

.gallery__list {
  outline: 2px solid rebeccapurple;
  
  @include resetting-styles-list;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @media (max-width: $tablet-width-max) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: $mobile-width-only) {
    display: block;
  }
}
