.intro {
  @media (max-width: $tablet-width-max) {
    position: relative;
  }
}

.intro__container {
  @media (min-width: $desktop-width-min) {
    display: grid;
    grid-template-columns: 1fr 327px;
    column-gap: 150px;
    min-height: 825px;
    max-width: 880px;
    margin: 0 auto;
    padding: 316px 0 221px 0;
  }

  @media (max-width: $tablet-width-max) {
    display: flex;
    flex-direction: column;
  }
}

.intro__content {
  @media (max-width: $tablet-width-max) {
    display: flex;
    align-items: center;
    background-color: $ordinary-black;
    min-height: 340px;
    background-image: url("/img/main-intro-bike-tablet.jpg");
    background-repeat: no-repeat;
    background-size: auto 340px;
    background-position-x: center;
    position: relative;
    padding: 65px 0 0 0;
    margin: 0 0 60px 0;

    @media (min-resolution: 2dppx) {
      background-image: url("/img/main-intro-bike-tablet@2x.jpg");
    }
  }

  @media (max-width: $mobile-width-only) {
    background-color: $ordinary-black;
    background-image: url("/img/main-intro-bike-mobile.jpg");
    background-size: 320px 390px;
    padding: 124px 0 64px 0;
    margin: 0 0 56px;

      @media (min-resolution: 2dppx) {
        background-image: url("/img/main-intro-bike-mobile@2x.jpg");
      }
  }
}

.intro__content-logo-wrapper {
  margin: 0 0 21px 0;

  @media (max-width: $tablet-width-max) {
    position: absolute;
    top: 25px;
    left: 21px;
    margin: 0;
  }

  @media (max-width: $mobile-width-only) {
   left: 18px;
  }
}

.intro__promo-text {
  @media (max-width: $tablet-width-max) {
    max-width: 435px;
    margin: 0 auto;
    text-align: center;
  }

  @media (max-width: $mobile-width-only) {
    max-width: 280px;
  }
}

.intro__promo-slogan-large {
  font-size: 46px;
  line-height: 64px;
  font-weight: bold;
  color: $ordinary-white;
  margin: 0 0 24px 0;

  @media (max-width: $tablet-width-max) {
    font-size: 30px;
    line-height: 40px;
    margin: 0 0 15px 0;
  }

  @media (max-width: $mobile-width-only) {
    margin: 0 0 19px 0;
  }
}

.intro__promo-slogan {
  font-size: 20px;
  line-height: 32px;
  font-weight: lighter;
  color: $ordinary-white;
  margin: 0 0 10px 0;
  opacity: 0.8;

  @media (max-width: $tablet-width-max) {
    font-size: 18px;
    line-height: 32px;
  }
}

.intro__feedback-form {
  @media (max-width: $tablet-width-max) {
    align-self: center;
  }
}


