.map {
  position: relative;
}

.map__wrapper {
  width: 100%;
}

.map__content {
  max-width: 555px;
  margin: 0 auto 40px;

  @media (max-width: $tablet-width-max) {
    max-width: 629px;
  }

  @media (max-width: $mobile-width-only) {
    max-width: 288px;
  }
}

.map__content h3 {
  font-size: 30px;
  line-height: 30px;
  color: $titles-black;
  text-align: center;
  margin: 0 0 30px;
  font-weight: 600;
}

.map__content p {
  font-size: 17px;
  line-height: 31px;
  opacity: 0.7;
  text-align: center;
  margin: 0;
}

.map__location-wrapper {
  position: relative;

  height: 530px;

  @media (max-width: $tablet-width-max) {
    height: 545px;
  }

  @media (max-width: $mobile-width-only) {
    height: 250px;
  }
}

.map__location-content {
  position: absolute;
}

.map__location-wrapper img {
  position: absolute;
  width: 100%;
  height: 530px;
  object-fit: cover;

  @media (max-width: $tablet-width-max) {
    height: 545px;
  }

  @media (max-width: $mobile-width-only) {
    height: 250px;
  }
}

.map__iframe {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 530px;

  @media (max-width: $tablet-width-max) {
    height: 545px;
  }

  @media (max-width: $mobile-width-only) {
    height: 250px;
  }
}
