.page-main__intro {
  @media (min-width: $desktop-width-min) {
    background-color: $main-background;
    background-image: url("/img/main-intro-bike.jpg");
    background-repeat: no-repeat;
    background-size: auto 825px;
    background-position-x: center;

    @media (min-resolution: 2dppx) {
      background-image: url("/img/main-intro-bike@2x.jpg");
    }
  }
}

.page-main__facts {
  padding: 150px 20px 130px;

  @media (max-width: $tablet-width-max) {
    padding: 70px 20px 70px;
  }
}

.page-main__gallery {
  padding: 145px 0;
}

.page-main__video {
  padding: 0 0 140px 0;
}
