.page-main__intro {
  margin: 0 0 150px 0;

  @media (min-width: $desktop-width-min) {
    background-color: $main-background;
    background-image: url("/img/main-intro-bike.jpg");
    background-repeat: no-repeat;
    background-size: auto 825px;
    background-position-x: center;

    @media (min-resolution: 2dppx) {
      background-image: url("/img/main-intro-bike@2x.jpg");
    }
  }

  @media (max-width: $tablet-width-max) {
    margin: 0 0 70px 0;
  }
}

.page-main__facts {
  margin: 0 0 130px 0;
}

.page-main__gallery {
  padding: 145px 0;
}

.page-main__video {
  margin: 0 0 140px 0;
}
