.video__wrapper {
  min-height: 706px;
  padding: 120px 0 0;
  position: relative;

  @media (max-width: $tablet-width-max) {
    padding: 70px 0 0;
    min-height: 413px;
  }

  @media (max-width: $mobile-width-only) {
    padding: 83px 15px 0;
    min-height: 384px;
  }
}

.video__main-content {
  width: 929px;
  height: 522px;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  @media (max-width: $tablet-width-max) {
    width: 503px;
    height: 282px;
  }

  @media (max-width: $mobile-width-only) {
    width: 288px;
    height: 162px;
  }
}

.video__container {
  position: relative;
}

.video__container img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: auto;
}

.video__video {
  display: block;
  width: 100%;
  height: auto;
}

.video__play-button {
  content: "";
  width: 65px;
  height: 65px;
  background-image: url("../img/decorative-elements/play.svg");
  background-color: inherit;
  border: none;
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 50%;
  transform: translateX(-50%)translateY(-50%);

  @media (min-width: $tablet-width-min) and (max-width: $tablet-width-max) {
    width: 90px;
    height: 90px;
  }
}

.video__text-content {
  max-width: 360px;
  margin: 0 auto 56px;
  text-align: center;

  @media (max-width: $tablet-width-max) {
    max-width: 430px;
    margin: 0 auto 38px;
  }

  @media (max-width: $mobile-width-only) {
    max-width: 290px;
    margin: 0 auto 54px;
  }
}

.video__text-content h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 600;
  color: $ordinary-white;
  margin: 0 0 20px;

  @media (max-width: $tablet-width-max) {
    font-size: 24px;
  }
}

.video__text-content p {
  font-size: 16px;
  line-height: 28px;
  color: rgba($ordinary-white, 0.7);
  font-weight: lighter;
  margin: 0;
}
