.video__wrapper {
  padding: 120px calc(50% - 465px) 0;

  @media (max-width: $tablet-width-max) {
    padding: 71px 134px 0;
  }

  @media (max-width: $mobile-width-only) {
    padding: 85px 15px 0;
  }
}

.video__container {
  position: relative;
  bottom: -98px;

  @media (max-width: $tablet-width-max) {
    bottom: -82px;
  }

  @media (max-width: $mobile-width-only) {
    bottom: -49px;
  }
}

.video__container img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: auto;
}

.video__video {
  display: block;
  width: 100%;
  height: auto;
}

.video__play-button {
  content: "";
  cursor: pointer;
  width: 65px;
  height: 65px;
  background-image: url("../img/decorative-elements/play.svg");
  background-color: inherit;
  border: none;
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 50%;
  transform: translateX(-50%)translateY(-50%);
  padding: 0;

  @media (min-width: $tablet-width-min) and (max-width: $tablet-width-max) {
    width: 90px;
    height: 90px;
  }

  &:hover {
    opacity: 0.6;
  }
}

.video__text-content {
  max-width: 360px;
  margin: 0 auto -42px;
  text-align: center;

  @media (max-width: $tablet-width-max) {
    max-width: 430px;
  }

  @media (max-width: $mobile-width-only) {
    max-width: 290px;
    margin: 0 auto;
  }
}

.video__text-content h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 600;
  color: $ordinary-white;
  margin: 0 0 20px;

  @media (max-width: $tablet-width-max) {
    font-size: 24px;
  }
}

.video__text-content p {
  font-size: 16px;
  line-height: 28px;
  color: rgba($ordinary-white, 0.7);
  font-weight: lighter;
  margin: 0;
}
